[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
fabric = "*"

[packages]
django = "==2.2.10"
markdown = "*"
gunicorn = "*"
faker = "*"
django-pure-pagination = "*"

[requires]
python_version = "3.7"
